@import 'config';

.loading{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: rgba(53, 50, 62, .5);
    display: none;
    place-items: center;

    #load-animation span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: $primary;
        margin: 35px 5px;
        opacity: 0;
    }

    #load-animation span:nth-child(1) {
        animation: opacitychange 1s ease-in-out infinite;
    }

    #load-animation span:nth-child(2) {
        animation: opacitychange 1s ease-in-out 0.33s infinite;
    }

    #load-animation span:nth-child(3) {
        animation: opacitychange 1s ease-in-out 0.66s infinite;
    }

    @keyframes opacitychange {

        0%,
        100% {
            opacity: 0;
        }

        60% {
            opacity: 1;
        }
    }
}

.container{
    // padding: 0 7vw;
    width: 85vw;
    margin: 0 auto;
}

header{
    min-height: 6em;
    width: 100%;
    position: absolute;
    display: grid;
    align-items: center;
    z-index: 2;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .logo{
        display: grid;
        min-width: 50px;
    }
    nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 130%;
        left: 0;
        background: $secondary;
        text-align: center;
        border-radius: 10px;
        
        ul{
            list-style: none;
            padding: 1.2em;
            position: relative;

            &>*{
                padding: 1em;
                font-family: 'Poppins', sans-serif;
                // font-weight: 700;

                a{
                    color: $white;
                    font-size: Max(.8rem, .5vw);

                }
            }
            
        }
        .nav-list::after{
            content: "";
            position: absolute;
            width: 80%;
            height: 1px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $secodnary-light;
        }
        .account{
            .signup{
                background: $primary;
                padding: .8em 2.2em;
                width: 100%;
                border-radius: 100px;
                margin-bottom: .5em;

            }

        }
    }
    .show{
        display: grid;
    }
    .toggler{
        font-size: 1.5rem;
        cursor: pointer;
    }
}

main{
    background: $white;

    .container{
        display: flex;
        flex-direction: column-reverse;
        height: clamp(650px, 100vh, 800px);
    }
    .image{
        position: relative;
        left: 0;
        // margin: 6em 0 1em;
        margin-top: 6em;

        img{
            min-width: 480px;        }
    }
    .content{
        text-align: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 1em 0 2em;

        p{
            font-size: Max(1rem, 1.3vw);
        }
        button{
            margin: 0 auto;
            padding: .8em 2.2em;
            border-radius: 100px;

            background: $primary;

            a{ color: $white; }
        
            &:hover{
                background: lighten($primary, 30%);
            }
        }
    }
}

.link-input{
    position: relative;
    margin-bottom: 1em;

    .container{
        background: $secondary;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        padding: Max(1.5em, 2.5vw);
        // display: grid;
        // gap: .5em;
        
    }
    form{
        display: flex;
        flex-direction: column;
        gap: Max(1em, 1.5vw);
        position: relative;

        button, input{
            width: 100%;
            padding: Max(.5em, 1vw) 2em;
            position: relative;
            z-index: 2;
            border-radius: 5px;
        }
        .input{
            flex: 100%;
        }
        .error{
            border: 3px $warning solid
        }
        button{
            background: $primary;
            color: white;

            &:hover{
                background: lighten($primary, 30%);
            }
        }
    }
    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0%;
        right: 0%;
        z-index: 1;
    }
    .desktop{
        display: none;
    }
    .warning{
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 2;

        color: $warning;
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: -1;
        top: 0;
        left: 0;
        background: $white;
    }
}

.link-output{

    .container{
        display: grid;
        gap: 1em;
    }
    .output{
        padding: 0 1em 1em;
        background: $white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        // gap: 1em;

        .long-link, .short-link{
            padding: .8em ;
        }
        .long-link{
            position: relative;

            &::after{
                content: "";
                position: absolute;
                width: calc(100% + 2em);
                height: 1px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: $gray;
                // margin: 1em 0;

            }
        }
        .short-link{
            color: $primary;
        }
        button{
            // margin: 0 1em 1em 1em;
            padding: .5em 1em;
            width: auto;
            background: $primary;
            border-radius: 5px;
            font-size: Max(.8vw, 1rem);
            color: $white;

            &:hover{
                background: lighten($primary, 30%);
            }
        }
    }
}

.features{
    padding: 4em 0;
    text-align: center;

    .cards{
        margin-top: 2.5em;
        display: grid;
        position: relative;
        gap: 3em;

        .card{

            position: relative;

            .icon{
                position: relative;
                z-index: 2;

                img{
                    background: $secondary;
                    position: relative;
                    padding: 1.4em;
                    aspect-ratio: 1/1;
                    clip-path: circle();
                }
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    background: $white;
                    z-index: -1;
                    border-radius: 10px 10px 0 0;

                }
            }
            .content{
                
                background: $white;
                position: relative;
                z-index: 2;
                padding: 2.3em 1.2em;
                border-radius: 0 0 10px 10px;


            }
            &:not(:last-child)::after{
                content: "";
                position: absolute;
                bottom: 100;
                left: 50%;
                // right: 0;
                transform: translateX(-50%);
                height: 50%;
                width: .5rem;
                background: $primary;
                z-index: 1;
                // margin: 0 auto;

            }

        }

    }
}

.boost{
    min-height: 300px;
    background: $secondary;
    display: grid;
    place-items: center;
    position: relative;
    color: $white;
    text-align: center;

    .container{
        position: relative;
        z-index: 2;

        .title{
            margin-bottom: .5em;
        }
        button{
            padding: .8em 2.2em;
            border-radius: 100px;
            background: $primary;

            a{ color: $white; }

            &:hover{
                background: lighten($primary, 30%);
            }
        }
    }
    .background{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;

        
    }
    .desktop{
        display: none;
    }
}

footer{
    background: $secondary-dark;
    padding: 4em 0;

    .logo{
        margin-bottom: 2.5em;
        display: flex;
        justify-content: center;

        svg > path{
            fill: $white;
        }
    }
    .links{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2em;

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: .5em;

            li{
                font-size: Max(.9rem, .9vw);

                a{
                color: $secodnary-light;
            }
                &:hover > a{
                    color: $primary;
                }
            }
            .name{
                color: $white;
            }

        }
        .socials{
            flex-direction: row;
            gap: 1.5em;
            justify-content: center;

            li>a{
                color: $white;
            font-size: Max(1.5rem, 1.3vw);

                
            }
        }

    }
}

@media screen and (min-width: 600px){

    .container{
        width: 75vw;
    }
    header{

        .container{
            gap: Max(1em, 1.5vw);
        }
        nav{
            display: flex;
            position: relative;
            background: none;
            justify-content: space-between;
            gap: Max(1em, 1.5vw);


            ul{
                display: flex;
                padding: 0;
                align-items: center;
                gap: Max(1em, 1.5vw);

                li{
                    padding: 0;

                    a{
                        color: $secodnary-light;
    
                        &:hover{
                            color: $secondary-dark;
                        }
                    }
                }
                .signup:hover{
                    background: lighten($primary, 30%);
                }
            }
            .nav-list::after{
                display: none;
            }
        }
        .show{
            display: flex;
        }
        .toggler{
            display: none;
        }
    }

    main{


        .container{
            flex-direction: row;
            align-items: center;
            height: 100vh; //set min width
            gap: 5vw;

            &>*{
                margin: 0;
            }
            .content{
                flex: 1;
                display: flex;
                text-align: start;


                button{
                    margin: 0;
                }
            }
            .image{
                flex: 1;

                img{
                    position: absolute;
                    transform: translateY(-50%);
                    min-width: 55vw;
                }
            }
        }
    }

    .link-input{

        form{
            flex-direction: row;

            button{
                width: max-content;
            }
            .mobile{
                display: none;
            }
            .desktop{
                display: block;
            }
            .warning{
                position: absolute;
                top: 100%;
                margin-top: .2em;
            }
        }
    }

    .boost{
        .mobile{
            display: none;
        }
        .desktop{
            display: block;
        }
    }

    footer{

        .container{
            display: flex;
            justify-content: space-between;

            .links{
                display: flex;
                flex-direction: row;
                text-align: start;
                gap: Max(5em, 8vw);
            }
        }
    }

}

@media (min-width: 700px){
    .link-output{

        .output{
            flex-direction: row;
            padding: Max(.5em, 1.5vh) 2em;
            align-items: center;
            gap: 1em;

            .long-link, .short-link{
                padding: 0;
            }
            .long-link{
                margin-right: auto;

                &::after{
                    background: none;


                }
            }
            button{
                width: Max(5vw, 5em);
            }
        }
    }
}

@media (min-width: 800px){
    .features{
        padding: Max(5em, 20vh) 0;

        .description{
            max-width: 500px;
            margin: 0 auto;
        }

        .cards{
            display: flex;

            .card{
                $up-offset: -3em;
                $down-offset: 3em;

                margin-top: 6em;

                .icon{ 
                    text-align: start;
                    padding-left: 3em;

                }
                .content{
                    text-align: start;

                    .feature-title{
                        margin-bottom: 1em;
                    }
                }
                &:not(:last-child)::after{
                    height: .5rem;
                    width: 50%;
                    bottom: unset;
                    transform: translateX(50%);
                    right: 0;
                    top: 50%;
                    z-index: 1;
                }
                &:nth-child(1){
                    transform: translateY($up-offset);

                    &:after{
                    transform: translate(50%, $down-offset);


                    }
                }
                &:nth-child(3){
                    transform: translateY($down-offset);
                    z-index: 2;
                    
                }
            }
        }
    }
}